body {
  font-family: Helvetica;
}

#root {
  background-color: grey;
  height: 100vh;
}

.clicked {
  background-color: red;
  height: 70vh;
}


.container {
  background-color: yellow;
}

.first-div {
  color: blue;
  width: 75%;
  background-color: lightblue;
}

.second-div {
  color: orange;
  width: 50%;
  background-color: lightgreen;
}
