body {
  font-family: Helvetica;
}

#root {
  background-image: url('https://media.giphy.com/media/YWbM6nDnBo8X7WIKpl/giphy.gif');

}
.container {
  background-color: yellow;
  display: flex;
  height: 100vh;
}

.red {
  background-color: red;
  height: 100vh;
}

.green {
  background-color: green;
  height: 30vh;
}



.first-div {
  color: blue;
  width: 75%;
  height: 100vh;
  background-color: #EE4540;
  img {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 20%;
  }
  label {
    margin-bottom: 10px;
  }
  .search-bar {
    margin: 10%;
    display: flex;
    justify-content: center;

    input {

      height: 30px;
    }

    img {
      width: 30px;
      height: 30px;
      margin: 0 10px;
    }

    .opposite {
      transform: scaleX(-1);
    }

}

}


.second-div {
  display: flex;
  height: 100vh;
  color: orange;
  width: 50%;
  background-color: lightgreen;
  flex-wrap: wrap;
}

.selectedGif {
  display: flex;
    justify-content: center;

  .chosen-img {
    width: 50%;
  }
}

.side-gifs {
  width: 150px;
  height: 150px;
  margin: 10px auto;
}
